# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Zenbot Docs
email: hi@zenbot.org
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://docs.zenbot.org" # the base hostname & protocol for your site
include: ["_pages"]

# Build settings
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge